{% extends "nuarte/base.html" %}
{% load static %}
{% load crispy_forms_filters %}
{% block title %}- Eventos{% endblock %}

    {% block content %}
        <h1>EVENTOS</h1>
        <div class="container">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3 mb-3">
        {% for event in eventos %}
            <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="{{ event.img_evento.url }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ event.titulo_evento }}</h5>
                    <p class="card-text">{{ event.desc_evento }} {{ event.data }}</p>
                    <a href="{{ event.sobre }}" class="btn btn-primary">Saiba mais</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    </div>
    {% endblock %}
