{% extends "nuarte/base.html" %}
{% load static %}
{% load crispy_forms_filters %}
{% block title %}- Grupos{% endblock %}

    {% block content %}
        <h1>GRUPOS</h1>
        <div class="nuarte-grupos2">
            {% for grupo in grupos %}
                <h1>{{ grupo.nome_grupo }}</h1>
                <p>{{ grupo.desc_grupo }}</p>
                <img src="{{ grupo.icone_grupo.url }}">

                <h2>BOLSISTAS</h2>
                <ul>
                    <li>
                        <div class="nuarte-bolsistas">
                            {{ grupo.nome_bolsista }}
                        </div>
                    </li>
                    <img src="{{ grupo.icone_bolsista.url }}">
                </ul>
            {% endfor %}
        </div>
    {% endblock %}