{% extends "nuarte/base.html" %}
{% load static %}
{% load crispy_forms_filters %}
{% block title %}- História{% endblock %}

    {% block content %}
        <h1>HISTÓRIA</h1>
        <div class="history-content">
            <p>
                {{ historia.desc_historia }}
            </p>
        </div>

        <div class="coordenadores">
            <h1>COORDENADORES ATUAIS</h1>
            {% for coordinator in coordenadores %}
                <ul>
                    <li>
                        <div class="nuarte-coordinators-icons1">
                            {{ coordinator.nome_coordenador }}
                        </div>
                    </li>
                    <li>{{ coordinator.icone_coordenador }}</li>
                    <li>{{ coordinator.bio_coordenador }}</li>
                </ul>
            {% endfor %}
        </div>
    {% endblock %}