{% extends "nuarte/base.html" %}
{% load static %}
{% load crispy_forms_filters %}

    {% block content %}
    <img src="{% static 'nuarte/img/gatos.jpg' %}" id="nuarte-parede">
    
        <div class="nuarte-about">
            <h1>NUARTE</h1>
            <a href="{% url 'historia' %}"><p>Saiba mais</p></a>
        </div>

        <div class="nuarte-groups1">
            <h1>CONHEÇA NOSSOS GRUPOS</h1>

            {% for group in grupos %}
                <ul>
                    <li>
                        <div class="nuarte-groups-icons1">
                            {{ group.icone_grupo }}
                        </div>
                    </li>
                    <li>{{ group.nome_grupo }}</li>
                </ul></p>
                <p></p>
            {% endfor %}
        </div>

        <div class="nuarte-coordinators1">
            <h1>COORDENADORES DO NUARTE</h1>

            {% for coordinator in coordenadores %}
                <ul>
                    <li>
                        <div class="nuarte-coordinators-icons1">
                            {{ coordinator.nome_coordenador }}
                        </div>
                    </li>
                    <li>{{ coordinator.icone_coordenador }}</li>
                </ul>
            {% endfor %}
        </div>

        <!-- forms para contato-->
        <div class="nuarte-contact-form">
            <h1>PARA DÚVIDAS, ENTRE EM CONTATO</h1>
            <form method="POST" enctype="multipart/form-data" class="contact-form">
                {% csrf_token %}
                {{ form_contato | crispy }}
                <input type="submit" value="Enviar" class="send-message-input">
            </form>
        </div>

    {% endblock %}