{% extends "nuarte/base.html" %}
{% load static %}
{% load crispy_forms_filters %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'nuarte/css style/nuarte_style.css' %}"/>
</head>

<body>
    {% block content %}
        <div class="nuarte-groups1">
            <h1>CONHEÇA NOSSOS GRUPOS</h1>

            {% for grupos in groups %}
                <ul>
                    <li>{{ grupos.icone_grupo }}</li>
                    <li>{{ grupos.nome_grupo }}</li>
                </ul></p>
                <p></p>
            {% endfor %}
        </div>

        <div class="nuarte-coordinators1">
            <h1>COORDENADORES DO NUARTE</h1>

            {% for coordenadores in coordinators %}
                <ul>
                    <li>{{ coordenadores.nome_coordenador }}</li>
                    <li>{{ coordenadores.icone_coordenador }}</li>
                </ul>
            {% endfor %}
        </div>

        <div class="nuarte-contact-form">
            <h1>PARA DÚVIDAS, ENTRE EM CONTATO</h1>
            <form method="POST" enctype="multipart/form-data" class="contact-form">
                {% csrf_token %}
                {{ form_contato | crispy }}
                <input type="submit" value="Enviar" class="send-message-input">
            </form>
        </div>

        <!-- forms para contato-->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    {% endblock %}
</body>
</html>