/* BARRA DE ROLAGEM */
::-webkit-scrollbar {
    width: auto;
}
::-webkit-scrollbar-track {
    background: white;
    border-radius: 20px;
}
::-webkit-scrollbar-thumb {
    background-color: #68B1BF;
    border-radius: 20px;
}

/* BASE */
body {
    background-color: rgb(255, 249, 171);
    font-family: 'Arial';
}

.global-navbar {
    top: 0;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: white;
    width: 100%;
}

.nav-item {
    align-content: center;
}

.navbar-footer {
    bottom: 0;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: white;
    width: 100%;
}

#nuarte-logo {
    height: 60px;
    width: 110px;
}

#nuarte-logo1 {
    height: 60px;
    width: 110px;
}

#ifrn-spp-logo img {
    height: 60px;
    width: 110px;
}

/* PÁGINA PRINCIPAL */
#nuarte-parede {
    margin: auto;
    width: 100%;
    opacity: 0.2;
}

.nuarte-about {
    color: #68B1BF;
    position: absolute;
    font-weight: bolder;
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 30px;
    margin: auto;
}

.nuarte-about h1 {
    font-size: 210px;
}

.nuarte-about p {
    font-size: 40px;
    background: none;
    border: 6px solid;
    margin: auto;
    border-color: #68B1BF;
    border-radius: 50px;
    width: 20%;
}

.nuarte-groups1 h1 {
    text-align: center;
    font-size: 80px;
}

.nuarte-coordinators1 h1 {
    text-align: center;
    font-size: 80px;
}

.nuarte-contact-form h1 {
    text-align: center;
    font-size: 80px;
}

.nuarte-contact-form {
    background-image: none;
}

.contact-form {
    position: relative;
    display: grid;
    background-color: #68B1BF;
    border-radius: 20px;
    margin: auto;
    padding: 50px;
    height: 420px;
    width: 820px;
}

.send-message-input {
    background-color: #FB9645;
    color: #FBD35B;
    font-weight: bold;
    font-size: larger;
    border-style: none;
    border-radius: 20px;
    height: 60px;
    width: 120px;
}

/* EVENTOS */

/* GRUPOS */

/* HISTÓRIA */
.history-content {
    display: grid;
    position: relative;
    grid: 50px;
    padding: 50px;
    font-size: 30px;
    text-align: justify;
    text-justify: inter-word;
    margin-top: 220px;
    margin-left: 360px;
    margin-right: 360px;
    border-radius: 20px;
    background-color: white;
}